


<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cards List - Bulma Templates</title>
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
  <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="stylesheet" href="../css/cards.css">
</head>


<body>


<!-- START NAV -->

<!-- END NAV -->

<div class="container">

  <div class="section">

    <div class="columns">
      <div class="column has-text-centered">
        <h1 class="title" style="color: ghostwhite;"></h1><br>

      </div>
    </div>
    <div id="app" class="row columns is-multiline">
      <div v-for="card in cardData" key="card.id" class="column is-4">
        <div class="card large">
          <div class="card-image">
            <figure width="100"
                    height="100">
              <%= image_tag( @person['img']) %>

            </figure>
          </div>
          <div class="card-content">

            <div class="media-content">
              <p class="title is-4 no-padding"><%= @person['name'] %></p>

              <p class="title is-6">
                Apodo: <%= @person['nickname'] %>  </p>
              <p class="title is-6">
                Interpretado por: <%= @person['portrayed'] %>  </p>
              <p class="title is-6">
                <%if not  @person['birthday'].nil? %>
                Birthday: <%= @person['birthday'] %>  </p>
                  <%end %>
              <p class="title is-6"> Occupation
              <% @person['occupation'].each do |oc|%>
                <%= oc %>
              <% end %></p>
              <p class="title is-6">
                Estado: <%= @person['status'] %>  </p>
              <p class="title is-6">
                <%if  not @person['appearance'].empty?%>
             Temporadas de BB en que aparece: <% @person['appearance'].each do |temp|%>
                <%= link_to temp,search_episode_path(season: temp, series:"Breaking Bad" ), method:'get'  %>

                    <% end %>
                <%else %>
                    Temporadas de BB en que aparece: None

                <% end %>
              <p class="title is-6">
                <%if  not @person['better_call_saul_appearance'].empty?%>
                Temporadas de BCS en que aparece: <% @person['better_call_saul_appearance'].each do |temp|%>
                  <%= link_to temp, search_episode_path(season: temp, series:"Better Call Saul" ), method:'get'  %>
                <% end %>
                <%else %>
                  Temporadas de BCS en que aparece: None
                <% end %> </p>
              <p class="title is-6">
                <%if  not  @quotes.empty?%>
              Citas:<% @quotes.each do |quote|%>
                <dd>-<%=  quote['quote'] %></dd>
              <% end %>
                  <%else%>
                  Citas: None
                <% end %> </p>


            </div>
          </div>

        </div>
      </div>
    </div>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">

      <p>
        <strong>Tarea 1 IIC3103</strong>.

      </p>
    </div>
  </div>
</footer>

<script src="../js/cardsData.js"></script>

<!-- Using Vue to populate cards to reduce redundant code -->
<script>
    var app = new Vue({
        el: '#app',
        data: {
            cardData: cardsData
        }
    })

</script>
</body>
