<!DOCTYPE html>
<html>
  <head>

    <title>Tarea1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-expand-sm bg-light">
    <div class="navbar-end">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="navbar-item is-active">
          <%= form_with(url: search_path, method: 'get', local: true) do %>
            <%= label_tag :person, 'Buscar'%>
            <%= text_field_tag :person, nil, placeholder: 'Eg. Walter', class: 'form-control' %>
            <%= button_tag 'Search', class: 'btn btn-success btn-block' %>
          <% end %>
        </a>
      </li>

    </ul>
    </div>
  </nav>


    <%= yield %>
  </body>
</html>
