<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Tarea1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">


      <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="mx-auto mt-5" style="width: 400px">

          <div class="form-group">

          </div>

      </div>
        <div class="navbar-end">

          <a class="navbar-item is-active">
            <%= form_with(url: search_path, method: 'get', local: true) do %>
            <%= label_tag :person, 'Buscar persona por nombre '%>
            <%= text_field_tag :person, nil, placeholder: 'Eg. Walter', class: 'form-control' %>
            <%= button_tag 'Search', class: 'btn btn-success btn-block' %>
            <% end %>
          </a>

        </div>
      </div>
    </div>
  </nav>

    <%= yield %>
  </body>
</html>
